@using Ecommerce.WebImpl.Pages.Shared
@model Ecommerce.WebImpl.Pages.Seller._CouponsPartial

@if (Model.Coupons.Count > 0){
    <ul class="d-flex list-unstyled gap-2 overflow-x-scroll">
        @foreach (var coupon in Model.Coupons){
            <li class="px-2 py-3">
                <div class="card">
                    <div class="card-header my-3">
                        <div class="d-flex gap-3">
                            <div class="d-inline-flex gap-2">
                                <p class="fw-bold card-title fs-5 text-wrap">@coupon.Id</p>
                                <button onclick="navigator.clipboard.writeText(event.currentTarget.previousElementSibling.innerText);" data-bs-toggle="tooltip" data-bs-placement="top" title="Panoya Kopyala" class="btn btn-link text-decoration-none p-0 align-items-center justify-content-center">
                                    <i class="bi m-0 bi-clipboard text-black bg-light"></i>
                                </button>    
                            </div>
                            <div>
                                <img src="kupon.jpg" class="card-img-top img-fluid" style="min-height: 3rem;min-width: 5rem;" alt="Kupon"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2 py-0 container-fluid my-0">
                        <div class="card-text gap-0 d-flex">
                            <p >İndirim:</p>
                            <p class="fw-bold">%@(decimal.Round((1m - coupon.DiscountRate)*100m,2).ToString("F1"))</p>
                            @if (Model.Editable){
                                @await Html.PartialAsync(nameof(_EditablePartial), new _EditablePartial())
                            }    
                        </div>
                        @if (Model.ShowSeller){
                            <div class="card-text gap-2 d-flex">
                                <p>Satıcı:</p>
                                <p >@coupon.Seller.ShopName</p>
                            </div>    
                        }
                    </div>

                </div>
            </li>
        }
    </ul>    
}
else{
    <div class="container-fluid d-flex justify-content-center">
        <p style="margin-right: 5em;">Kullanılabilir Kupon Yok.</p>
    </div>
}
