@using Ecommerce.WebImpl.Pages.Shared
@model Ecommerce.WebImpl.Pages.Seller._CouponsPartial

@if (Model.Coupons.Count > 0){
    <ul class="d-flex list-unstyled gap-2 overflow-x-scroll">
        <script>((s)=>{
            document.addEventListener('DOMContentLoaded', load);
            s.parentElement.addEventListener('htmx:load', load);
            function load(e){
                if(e.type === 'htmx:load') e.stopPropagation();
                const parent = s.parentElement;
                parent.querySelectorAll('button.coupon-copy').forEach(t=>{
                    const tt = new bootstrap.Tooltip(t, {trigger: 'manual' , title: 'Panoya Kopyalandı',container:t.parentElement, placement: 'top'});
                    t.addEventListener('mouseenter', event=>{
                        if(t._copied) return;
                        tt.setContent({'.tooltip-inner':'Bu satıcının ürünlerinde kullanabileceğiniz kupon kodunu kopyala'});
                        tt.show();
                    })
                    t.addEventListener('mouseleave', event=>{
                        if(t._copied) return;
                        tt.hide();
                    })
                    t.addEventListener('click',event=>{
                        event.preventDefault();
                        navigator.clipboard.writeText(event.currentTarget.previousElementSibling.innerText);
                        tt.setContent({'.tooltip-inner':'Panoya Kopyalandı'});
                        tt.show();
                        t._copied=true;
                        setTimeout(()=>{tt.hide(); t._copied=false;}, 4000);
                    })
                })
            }
        })(document.currentScript)</script>
        @foreach (var coupon in Model.Coupons){
            <li class="px-2 py-3">
                <div class="card">
                    <div class="card-header my-3">
                        <div class="d-flex gap-3">
                            <div class="d-inline-flex gap-2">
                                <p class="fw-bold card-title fs-5 text-wrap">@coupon.Id</p>
                                <button  class="btn coupon-copy btn-link text-decoration-none p-0 align-items-center justify-content-center">
                                    <i class="bi m-0 bi-clipboard text-black bg-light"></i>
                                </button>    
                            </div>
                            <div>
                                <img src="kupon.jpg" class="card-img-top bi img-fluid" style="min-height: 3rem;min-width: 5rem;" alt="Kupon"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2 py-0 container-fluid my-0">
                        <div class=" gap-0 d-flex">
                            <p >İndirim:</p>
                            <p class="fw-bold text-success-emphasis">%@(decimal.Round((1m - coupon.DiscountRate)*100m,2).ToString("F1"))</p>
                            @if (Model.Editable){
                                <button hx-post="/@(nameof(SellerModel))?handler=couponId=@(coupon.Id)" class="p-0 rounded-circle ms-3 border-0 d-inline-flex justify-content-center hover-grow btn-link text-decoration-none" style="color: unset">
                                    <i class="bi  bi-trash-fill text-danger-emphasis bg-white m-0"></i>
                                </button>
                            }
                        </div>
                        @if (Model.ShowSeller){
                            <div class="card-text gap-2 d-flex">
                                <p>Satıcı:</p>
                                <p >@coupon.Seller.ShopName</p>
                            </div>    
                        }

                    </div>

                </div>
            </li>
        }
    </ul>    
}
else{
    <div class="container-fluid d-flex justify-content-center">
        <p style="margin-right: 5em;">Kullanılabilir Kupon Yok.</p>
    </div>
}
