@model _DimensionsPartial
<div class="container-fluid d-flex gap-3 input-group my-1 dimensions-container">
    <div class="gap-2 fs-5">
        <p class="fs-5">Boyutlar:</p>
        <div class="d-inline-flex gap-2">
            <div class="d-inline-flex gap-1">
                <p class="_weight fw-bold">@Model.Dimensions.Weight</p>
                <p>kg</p>
            </div>
            <div class="d-inline-flex gap-1">
                <p></p>
            </div>

        </div>    
    </div>
    
</div>
