@using Ecommerce.Bl.Interface
@using Ecommerce.Entity
@inject EntityMapper EntityMapper
@inject Dictionary<uint, Category> Categories

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Ecommerce.WebImpl</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Ecommerce.WebImpl.styles.css" asp-append-version="true"/>
    @await RenderSectionAsync("Scripts", required: false)
    
</head>
<body>
<header>
    <div id="popupResult" class="position-fixed z-3" style="z-index: 9999;"></div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><i class="bi bi-house text-black-50 fs-2 fw-bold"></i></a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- search -->
                    <li class="nav-item flex-grow-1">
                        <partial name="SearchBar/_SearchBarPartial" model="new _SearchBarPartial(){Categories=Categories.Values,EntityMapper= EntityMapper, IsJson=false}"/>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3" style="background-color: @(ViewData.ContainsKey("BgColor")?ViewData["BgColor"]:"bg-white")">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Ecommerce.WebImpl - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/htmx.org"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        document.querySelectorAll("[data-bs-toggle='tooltip']").forEach(e=>new bootstrap.Tooltip(e));
    })
</script>
</body>
</html>
