@using System.Security.Claims
@using Ecommerce.Entity
@using Microsoft.EntityFrameworkCore.Metadata.Internal

<ul class="navbar-nav d-flex justify-content-center align-content-center gap-1">
    @if (ViewBag.Cart is Cart cart){
        <li class="nav-item d-inline-flex">
            <a class="nav-link justify-content-center align-content-center text-decoration-none text-dark p-0" href="/Cart" title="Sepet">
                <i class="bi bi-cart bg-white fs-4 position-relative" style="color: orange;">
                    @if (cart.Items.Count>0){
                        <i class="text-danger z-3 float-end position-absolute top-0 end-0 fs-6 m-0 bi-@(cart.Items.Count)-circle-fill small" style="font-size: x-small !important;"></i>
                        <!--Find a reliable and effiicent way to get the item count-->
                    }
                </i>
                @* <img style="height: 2em;" src="cart-icon.jpg" alt="Sepet"/> *@
            </a>
        </li>
    }
    @if ((Context.User.Identity?.IsAuthenticated ?? false) && Context.User.HasClaim(c => c.Type.Equals(ClaimTypes.Role))){
        <li class="nav-item">
            <a class="nav-link text-dark" href="@(ViewBag.User is Entity.Seller ? $"/Seller/SellerPage?Id={ViewBag.User.Id}" : $"/Customer?CustomerId={ViewBag.User.Id}")" title="Hesap">
                @if (ViewBag.User.ProfilePicture != null){
                    <img style="height: 2em;" class="rounded-circle shadow-sm" src="@(Utils.GetImageUrlOrDefault(ViewBag.User.ProfilePicture?.Data))" alt="Hesap"/>
                }
                else{
                    <i class="bi bi-person-circle text-secondary bg-light fs-4"></i>
                }
            </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-content-center">
            <component type="typeof(_NotificationPartial)" render-mode="ServerPrerendered"/>
        </li>
        <li class="nav-item">
            <form class="form-inline" method="post" hx-post="/Account/Login?handler=logout" hx-swap="innerHTML" hx-target="#popupResult">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Kaydol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/@(nameof(Pages.Orders))">Siparişlerim</a>
        </li>
    }
</ul>