@using Ecommerce.Entity.Events
@inherits _NotificationPartialModel

<div class="dropdown d-flex justify-content-center align-content-center">
    <button class="btn hover-grow p-0 d-inline-flex align-content-center align-items-center justify-content-center" 
            data-bs-toggle="collapse" data-bs-target="#notifications" aria-controls="notifications" aria-expanded="false">
        <i class="bi bi-bell text-warning bg-white p-0 fs-4 position-relative m-0 class d-inline-flex justify-content-start align-content-start align-items-start">
            @{ int count = Notifications.Count(n=>!n.IsRead);}
            @if (count > 0){
                <i class="text-danger z-3 float-end position-absolute top-0 end-0 fs-6 m-0 bi-@count-circle-fill small" style="font-size: x-small !important;"></i>
            }
        </i>
    </button>
    <ul id="notifications" class="list-group collapse">
        @foreach (var notification in Notifications){
            <li class="list-group-item g-3 row mx-3">
                <div class="col-3">
                    @{
                        string src;
                        switch(notification){
                            case DiscountNotification:
                                src = "discount.png";
                                break;
                            case CouponNotification:
                                src = "kupon.jpg";
                                break;
                            case OrderNotification:
                                src = "order.png";
                                break;
                            case ReviewCommentNotification:
                                src = "comment.png";
                                break;
                            case VoteNotification:
                                src = "upvote.png";
                                break;
                            case ReviewNotification:
                                src = "review.jpg";
                                break;
                            case PermissionRequest:
                            case CancellationRequest:
                            default:
                                src = "default.jpg";
                                break;
                        }
                    }
                    <img class="img-fluid" style="height: 5em;" src="@src" alt="@(src.Split('.').First())"/>
                </div>
                <div class="col-9">
                    @switch (notification){
                        
                    }
                </div>
            </li>
        }
    </ul>
</div>
