@model Ecommerce.WebImpl.Pages.Shared._PropertiesDisplayPartial

<div class="row">
    @{ var i = 0;}
    @foreach (var (name, prop) in Model.Properties){
        if (i++ %2==1){
            <div class="col-6"></div>
        }
        <div class="col-3 d-inline-flex justify-content-end gap-3">
            <label class="fs-5">@(name??prop.Name)</label>
            <p class="fs-5" id="@((Model.IdPrefix ?? "") + (name ?? prop.Name))">@(prop.GetValue(Model.Model))</p>
            @if (Model.Editable){
                @await Html.PartialAsync("Shared/_EditablePartial", new _EditablePartial())
            }
        </div>
    }
</div>