@model Ecommerce.WebImpl.Pages.Shared._ReviewStarPartial

<div class="flex-column align-content-center justify-content-center">
    <div class="d-flex justify-content-center">
        @for (int i = 0; i < Model.Rating; i++){
            <i class="px-0 mx-0 img-fluid bi bi-star-fill text-warning bg-white" style="height: 2em;"></i>
        }
        @for (int i = 0; i < 4 - Model.Rating; i++){
            <i class="px-0 mx-0 img-fluid bi-star-fill text-secondary bg-white" style="height: 2em;"></i>
        }
    </div>
    @if (Model.RatingCount != null){
        <div class="text-center">
            @if (Model.RatingCount > 0){
                <p class="small">@Model.RatingCount Adet Değerlendirme</p>
            }
            else{
                <p class="small">Değerlendirme Yok</p>
            }
    </div>
    }
</div>
