@* @page "/UiSessionManager" *@
@* @model Ecommerce.WebImpl.Pages.Shared.UiSessionManager *@
@* @{ *@
@*     Layout = null; *@
@* } *@
@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title></title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*      *@
@* </div> *@
@* </body> *@
@* </html> *@