@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>

<component type="typeof(App)" render-mode="ServerPrerendered" />
<persist-component-state persist-mode="PersistenceMode.Server"/>
</body>
