@page
@using Ecommerce.WebImpl.Pages.Shared.CartPartials
@model Ecommerce.WebImpl.Pages.Cart

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('cartContent').addEventListener('htmx:beforeSwap', e=>{
                if(e.detail.xhr.status <400)  return;
                e.detail.shouldSwap = true;
                e.detail.target = document.getElementById('errorResult');
            })
            document.addEventListener(CartChangedEvent.NAME, e=>{
                if(e.detail.added){
                    htmx.ajax('GET', '/@(nameof(Cart))?handler=partial', {
                        target: '#cartContent',
                        swap: 'innerHTML',
                    })
                }
            })
        })
        //# sourceURL=@(nameof(Cart)).js
    </script>
}
<div class="container-fluid row g-4">
    <div class="col-12 border-bottom pb-2" style="padding-top: 0;">
        <div class="px-3 container-fluid">
            <p class="fs-4">Kullanılabilen Kuponlar</p>
        </div>
        <div id="coupons" hx-get="/@(nameof(Cart))?handler=coupon" hx-trigger="load" hx-swap="innerHTML" hx-target="this"></div>
    </div>
    <div id="cartContent" class="container-fluid">
        @await Html.PartialAsync("Shared/CartPartials/_CartItemsPartial", new _CartItemsPartial(){ ViewedCart = Model.ViewedCart, ContainerId = "cartContent" })
    </div>
    <div class="container-fluid mt-2" id="errorResult"></div>
    <div class="gap-3">
        <div class="gap-1">
            <div class="col-12" hx-get="/Index?handler=recommended&@(nameof(HomepageModel.Type))=@nameof(HomepageModel.RecommendationType.Seller)" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></div>
        </div>
        <div class="gap-1">
            <div class="col-12" hx-get="/Index?handler=recommended&@(nameof(HomepageModel.Type))=@nameof(HomepageModel.RecommendationType.Category)" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></div>
        </div>
    </div>
</div>