@page
@using System.Text.Encodings.Web
@using System.Text.Json
@using Ecommerce.WebImpl.Pages.Shared.Product
@model HomepageModel
@{
    ViewData["Title"] = "Home page";
    ViewBag.User = Model.CurrentUser;
    if (Model.CurrentCustomer != null || Model.CurrentUser == null){
        ViewBag.Cart = Model.CurrentSession.Cart;
    }
}
<div class="container-fluid d-flex flex-column">
    <div class="row g-3">
        <partial name="Shared/Product/_VerticalListPartial" model="new _VerticalListPartial(){ 
                     Products = Model.Products, Categories = Model.Categories, SellerRecommendations = Model.SellerRecommendations, 
                     CategoryRecommendations = Model.CategoryRecommendations,
                     PageIndex = Model.PageIndex         
        }"/>
        <form hx-trigger="revealed" 
              data-page="@(Model.PageIndex)"
              hx-on::after-settle="event.detail.target.removeAttribute('data-hx-revealed')"
              hx-on::after-request="if(event.detail.xhr.status==204)event.detail.elt.removeAttribute('hx-get');"
              hx-get="/Index?handler=more@(Model.QueryString!=null?$"&{nameof(HomepageModel.QueryString)}={UrlEncoder.Default.Encode(Model.QueryString??"")}":"")@(Model.OrderString!=null?$"&{nameof(Model.OrderString)}={Model.OrderString}":"")" hx-target="this" hx-swap="beforebegin" hx-on::trigger="let that = event.detail.elt;that.dataset.page=parseInt(that.dataset.page)+1;that.setAttribute('hx-vals', JSON.stringify({@(nameof(HomepageModel.PageIndex)): that.dataset.page}))" class="container-fluid" style="height: 1px;">
        </form>
    </div>
</div>
