@page
@model Ecommerce.WebImpl.Pages.Orders
@{
    ViewData["BgColor"] = "bg-light";
}

@switch (Model.View){
    case Orders.ViewType.Auth:
        <div class="container-fluid d-flex flex-grow-1 flex-column align-content-center align-content-center justify-content-center h-100" style="min-height: 80vh;">
            <h3 class="fs-3 text-center fw-bold">Siparişinizde Kullandığınız Email'i giriniz.</h3>
            @await Html.PartialAsync("Shared/_SeperatorPartial", (3,4,"border-1 border-black"))
            <div class="card rounded-2 text-center align-self-center w-50 align-middle shadow-sm border-light-subtle border-1">
                <form hx-post="/@nameof(Orders)" hx-trigger="submit" hx-target="#emailResult" hx-swap="innerHTML">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="@(nameof(Orders.OrderId))" value="@(Model.OrderId)"/>
                    <div class="card-body">
                        <div class="input-group d-inline-flex justify-content-center container-fluid align-middle align-self-center text-center mb-4">
                            <label class="col-form-label fw-semibold">Email</label>
                            <input class="ms-2 form-control rounded-1 border-light-subtle shadow-sm" type="email" name="email" required/>
                        </div>
                        <div class="text-end align-self-end">
                            <button type="submit" onclick="event.currentTarget.parentElement.parentElement.dispatchEvent(new Event('submit', {cancelable:true, bubbles:true}))" class="me-3 btn btn-primary shadow-sm hover-grow-small">Email Gönder</button>
                            <p class="text-muted mb-0 mt-2" style="font-size: smaller">Siparişlerinizi bu email'den görüntüleyebileceksiniz.</p>
                        </div>
                    </div>
                </form>
                <div id="emailResult" class="container-fluid">
                </div>
            </div>
        </div>
        break;
    case Orders.ViewType.Show:
        <div class="container-fluid">
            <h3 class="fs-3 fw-bold text-center align-middle">Siparişler</h3>
            <div class="card bg-white border-black border-2 rounded-2">
                <div class="card-body">
                    @await Html.PartialAsync("Shared/Order/_OrderListPartial", new Shared.Order._OrderListPartial()
                    {
                        Orders = Model.OrderCollection,
                        Page = Model.PageNumber,
                        Partial = false,
                        ViewedBySeller = Model.CurrentSeller!=null,
                        PageSize = Model.PageSize,
                        Url = Url.Page(nameof(Orders),null, new {token = Model.Token}),
                        Token = Model.Token,
                        Collapsable = true
                    })
                </div>
            </div>
        </div>
        break;
}
