@using Ecommerce.Entity

<!--
properties:
_dataType: 'string' | 'number' | 'enum'
_required: boolean
_inputName: string
_constraint: string (value of the property)
-->
<div class="propertyPrompt container-fluid p-3 border rounded-3 shadow-sm bg-light mb-3">
    <script>
        ((s)=>{
            const parent = s.parentElement;
            document.addEventListener('DOMContentLoaded', load);
            parent.addEventListener('htmx:load', load);
            function load (e){
                if(e.type === 'htmx:load'){
                    e.stopPropagation();
                }
                const metaForm = s.nextElementSibling;
                const enumContainer = metaForm.querySelector('div[data-inptype="enum"]')
                const rangeContainer = metaForm.querySelector('div[data-inptype="range"]');
                const requiredInput = metaForm.querySelector('input[type=checkbox]');
                const typeSelect =  metaForm.querySelector('select');
                const inputNameInput = metaForm.querySelector('input[name=@(nameof(CategoryProperty.PropertyName))]');
                const enumInput = enumContainer.querySelector('input');
                const minInput = rangeContainer.querySelector('input[name="min"]');
                const maxInput = rangeContainer.querySelector('input[name="max"]');
                parent._dataType = typeSelect.value;
                parent._required = false;
                typeSelect.addEventListener('change', (e)=>{
                    if(typeSelect.value ==='enum'){
                        if(enumContainer.classList.contains('d-none')){
                            parent._constraint = '';
                        }
                        rangeContainer.classList.add('d-none');
                        enumContainer.classList.remove('d-none');
                    } else if(typeSelect.value === 'number'){
                        if(rangeContainer.classList.contains('d-none')){
                            parent._constraint = {min: -10000000, max: 10000000};
                        }
                        rangeContainer.classList.remove('d-none');
                        enumContainer.classList.add('d-none');
                    } else {
                        rangeContainer.classList.add('d-none');
                        enumContainer.classList.add('d-none');
                    }
                    parent._dataType = typeSelect.value;
                })
                inputNameInput.addEventListener('change', (e)=>{
                    parent._inputName = inputNameInput.value;
                })
                requiredInput.addEventListener('change', e=>{
                    parent._required = requiredInput.checked===true;
                })
                enumInput.addEventListener('change', e=>{
                    parent._constraint = enumInput.value.replaceAll(',','|');
                })
                rangeContainer.addEventListener('change', e=>{
                    parent._constraint = {
                        min: minInput.value,
                        max: maxInput.value,
                    }
                })
            }
        })(document.currentScript)
        //# sourceURL=PropertyPrompt.js
    </script>
    <div class="text-start row g-3 pe-3">
        <div class="col-9">
            <div class="input-group gap-1">
                <label class="fs-6 input-group-text fw-semibold bg-primary text-white border-0">Özellik İsmi:</label>
                <input type="text" class="form-control border-2 rounded-end-3" name="@(nameof(CategoryProperty.PropertyName))" />
            </div>
        </div>
        <div class="col-3 align-content-center align-items-center">
            <label class="fs-6 ps-1 fw-bold text-primary">Zorunlu:</label>
            <input type="checkbox" class="ms-2 form-check-input hover-grow shadow-sm" style="cursor: pointer; transform: scale(1.2);" name="@nameof(CategoryProperty.IsRequired)"/>
        </div>
        <div class="col-3 gap-2">
            <label class="fs-6 fw-bold text-primary">Veri tipini belirle:</label>
            <select name="dataType" class="form-select form-select-sm border-2 rounded-3 mt-2">
                <option selected value="string">Metin</option>
                <option value="number">Sayı</option>
                <option value="enum">Enum</option>
            </select>
        </div>
        <div data-inptype="range" class="range col-9 d-none gap-1">
            <div class="d-inline-flex gap-2 align-items-center align-content-center p-3 bg-white rounded-3 border">
                <labe class="fw-bold fs-6 text-primary" l>Aralık:</labe>
                <div class="d-inline-flex gap-1 align-items-center align-content-center">
                    <label class="fw-semibold text-secondary">Min</label>
                    <input type="number" class="form-control form-control-sm border-2 rounded-3" name="min" placeholder="Minimum Değer" aria-placeholder="Minimum Değer" value="-1000000"/>
                </div>
                <div class="d-inline-flex gap-1 align-items-center align-content-center">
                    <label class="fw-semibold text-secondary">Max</label>
                    <input type="number" class="form-control form-control-sm border-2 rounded-3" name="max" placeholder="Maksimum Değer" aria-placeholder="Maksimum Değer" value="1000000"/>
                </div>                    
            </div>
        </div>
        <div data-inptype="enum" class="enum col-9 d-none gap-1">
            <div class="d-inline-flex gap-2 p-3 bg-white rounded-3 border">
                <label class="fw-bold text-primary">Geçerli Değerler</label>
                <input type="text" class="form-control border-2 rounded-3" aria-placeholder="virgül ile ayrılmış değerler" placeholder="virgül ile ayrılmış değerler"/>    
            </div>
        </div>
        @* <button type="button" class="btn  btn-success btn-sm" style="background-color: darkorange">Onayla</button> *@
    </div>
</div>
