@page
@model Ecommerce.WebImpl.Pages.Account.Register



<div class="container">
    <div class="card card-body flex-grow-1 shadow border-0 rounded-4">
        @await Html.PartialAsync("Account/_ProfilePartial", new _ProfilePartial(){
            Editable = true, PostUrl = "/Account/Register", User = Model.RegisteringUser,Registering = true,
        })
        <div class="card-footer d-flex justify-content-center align-items-center">
            <button class="text-success">Kaydol</button>
        </div>
    </div>
</div>
