@model Ecommerce.WebImpl.Pages.Shared.Product._AddToCartButtonPartial

<form class="container-fluid add-to-cart-btn" hx-post="/Cart" hx-target="#popupResult" hx-swap="innerHTML">
    <script>
        ((s)=>{
            const parent = s.parentElement;
            document.addEventListener('DOMContentLoaded', load);
            parent.addEventListener('htmx:load', load);
            function load(e){
                if(e.type ==='htmx:load') e.stopPropagation();
                const i = parent.querySelector('input[type="number"]');
                parent.addEventListener('htmx:afterRequest', e=>{
                    if(!e.detail.successful) return;
                    document.dispatchEvent(new CartChangedEvent(parseInt(i.value),null,@Model.ProductId, true))
                })
                // parent.querySelector('div.row > div:first-child > button[type="button"]:first-child').addEventListener('click', e=>{
                //     i.value = i.value?parseInt(i.value) + 1:1;
                // })
                // parent.querySelector('div.row > div:first-child > button[type="button"]:last-child').addEventListener('click', e=>{
                //     i.value = i.value>1?parseInt(i.value)-1:null;
                // });
            }
        })(document.currentScript)
        //# sourceURL=Index/@(nameof(_AddToCartButtonPartial)).js

    </script>
    @Html.AntiForgeryToken()
    <input type="hidden" name="productId" value="@Model.ProductId"/>
    <input type="hidden" name="sellerId" value="null"/>
    <div class=" row" onmouseenter="event.currentTarget.lastElementChild.classList.add('col-lg-10');event.currentTarget.firstElementChild.style.maxHeight = event.currentTarget.lastElementChild.offsetHeight + 'px';
        event.currentTarget.firstElementChild.classList.remove('d-none');"
         onmouseleave="event.currentTarget.lastElementChild.classList.remove('col-lg-10');event.currentTarget.firstElementChild.classList.add('d-none')">
        <div class="text-center h-100 d-none p-0 m-0 gap-0 col-lg-2 col-12 overflow-hidden">
            @* <button type="button" class="p-0 m-0 hover-grow-small w-100 border-0" style="background-color: inherit"><i class="bi bi-plus-circle-fill text-success p-0 m-0" style="font-size: x-small"></i></button> *@
            <input type="number" class="m-0  align-self-center text-center w-100 rounded-start-2 border-light-subtle border-opacity-50 border-1 small" min="1" name="quantity" step="1" placeholder="Miktar"/>
            @* <button type="button" class=" p-0 m-0 hover-grow-small w-100 border-0" style="background-color: inherit"><i class="bi bi-file-minus-fill rounded-circle text-danger p-0 m-0" style="font-size: x-small"></i></button> *@
        </div>
        <button type="submit" class="col-12 btn rounded-1 btn-primary" style="background-color: darkorange">Sepete Ekle</button>
    </div>
</form>