@model Ecommerce.WebImpl.Pages.Shared.Product._ProductRatingStatsPartial
@functions{
    static uint Percent(uint c, uint t) => t != 0 ? (uint)(c / (float)t * 100f) : 0u;
}
<div class="card-header-pills">

</div>