@using System.Drawing
@using System.Text.Json
@model Ecommerce.WebImpl.Pages.Shared.Dashboard._StatisticsPartial
@functions{
    string ToHex(Color c) => $"{c.R:X2}{c.G:X2}{c.B:X2}";
}
<script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<script>
    const orderChart = echarts.init(document.getElementById('orderChart'));
    @{
        var orderedOrders = Model.Orders.OrderBy(o => o.Date).ToArray();
        var format = Model.Orders.GroupBy(o => o.Date.Month).Count() > 3 ? "Y" : "M";
        var groupedOrders = orderedOrders.GroupBy(o => o.Date.ToString(format)).ToArray();
    }
    orderChart.setOption({
        title: { text: 'Sipariş Verileri' },
        tooltip: { trigger: 'axis' },
        legend: {data: ['Sipariş Sayısı', 'Toplam Harcama', 'İndirim Sayısı']},
        xAxis: { type: 'category', data: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(groupedOrders.Select(g=>g.Key)))},
        yAxis: [
            { type: 'value', name: 'Sipariş Sayısı', position: 'left', axisLabel: { formatter: '{value}' }},
            { type: 'value', name: 'Toplam Harcama (₺)', position: 'right', offset: 60, axisLabel: { formatter: '{value} ₺' }},
            { type: 'value', name: 'Kullanılan İndirim', position: 'right', axisLabel: { formatter: '{value}' }}

        ],
        series: [{
            name: 'Sipariş Sayısı',
            type: 'line',
            smooth: false,
            color: '#@ToHex(Color.DodgerBlue)',
            data: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(groupedOrders.Select(o=>o.Count())))
        }, {
                name: 'Toplam Harcama',
                type: 'line',
                color: '#@ToHex(Color.DarkOrange)',
                smooth: true,
                data: @Html.Raw(JsonSerializer.Serialize(groupedOrders.Select(g=>g.Sum(o=>o.Aggregates.CouponDiscountedPrice))))
        },{
            name: 'Kullanılan İndirim',
            type: 'bar',
            color: '#@ToHex(Color.ForestGreen)',
            smooth: false,
            data: @(Html.Raw(JsonSerializer.Serialize(groupedOrders.Select(g=>g.Sum(o=>o.Aggregates.TotalDiscountAmount)))))
        }
        ]
    });
    document.addEventListener("DOMContentLoaded", () => {
    });
</script>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Siparişler</h3>
    </div>
    <div class="mt-3 card-body">
        <div id="orderChart">
            
        </div>
    </div>
</div>