@model _ReviewsPartial
@if (Model.Reviews.Count > 0){
    <div class="partial-parent">
        <script>
            ((s)=>{
               s.parentElement.addEventListener('htmx:load', load);
               document.addEventListener('DOMContentLoaded', load);
               function load(e){
                   if(e.type ==='htmx:load'){
                       e.stopPropagation();
                   }
                    Array.from(s.nextElementSibling.children).filter(n=>n.nodeType === Node.ELEMENT_NODE).forEach(n=>{
                        n.lastElementChild.dispatchEvent(new Event('htmx:load', {bubbles: false}));
                    });
               } 
            })(document.currentScript)
            //# sourceURL=ReviewsPartial.js
        </script>
        <div class="list-unstyled reviews px-0 mx-0 flex-column gap-3">
            @foreach (var review in Model.Reviews){
                <div>
                    @if (Model.IsStaff || Model.CurrentUserId != null && Model.CurrentUserId == review.Review.ReviewerId){
                        <div class="d-flex justify-content-end align-items-center">
                            <form hx-post="/@(nameof(Reviews))?handler=delete" hx-target="#popupResult" hx-swap="innerHTML">
                                <input type="hidden" name="@(nameof(Reviews.SentReview)).Id" value="@(review.Review.Id)"/>
                                <button type="submit" class="btn-danger">Sil</button>
                            </form>
                        </div>
                    }
                    @await Html.PartialAsync("Review/_ReviewPartial", review)
                </div>
            }
        </div>
        @if (Model.Reviews.Count == 10){
            <a href="#" hx-on::after-request="if(event.detail.successful)event.detail.elt.remove()" hx-trigger="click" hx-get="/@nameof(Reviews)?ReviewsPage=@(Model.NextPage)&@(nameof(Reviews.ProductId))=@(Model.ProductId)" hx-target="closest .partial-parent" hx-swap="afterend">Daha fazla yükle</a>
        }
    </div>

}
else{
    <div class="invisible" hx-on::afterSwap="detail.elt.remove()"></div>
}
